* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Times New Roman", Times, serif;
}
/* some shortcut classes below */
.primary-color {
  color: rgb(255, 0, 0);
}
.btn-primary {
  padding: 15px 35px;
  background-color: red;
  color: #ffffff;
  border: none;
  outline: none;
}
/* header styles code start */
.header .navbar {
  background-color: rgba(172, 166, 166, 0.5);
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .navbar .nav-logo {
  display: flex;
  align-items: center;
}
.header .navbar .nav-logo h1 {
  color: #00ffff;
  font-size: 18px;
}
.header .navbar .nav-logo img {
  width: 200px;
}
.header .navbar .nav .nav-items {
  display: flex;
  list-style: none;
  gap: 10px;
}
.header .navbar .nav .nav-items .nav-item {
  font-size: 19px;
  padding: 8px 10px;
}
.header .navbar .nav .nav-items .nav-item:hover {
  background-color: red;
}
/* header styles code end */

/* banner section styles code start */
.banner-section {
  width: 100%;
  height: 100vh;
  background-image: url("../image/background.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  background-position: center;
  /* background-size: cover; */
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-section .banner-desc {
  text-align: center;
}
.banner-section .banner-desc h1 {
  font-size: 86px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}
.banner-section .banner-desc p {
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  width: 55%;
  margin: auto;
  font-weight: 500;
  margin-top: 10px;
}
.banner-section .banner-desc button {
  margin-top: 25px;
  margin-right: 10px;
  font-size: 16px;
}
.banner-section .banner-desc .custom-btn {
  background-color: #f0f0f0;
  color: #000000;
}

/* services secton styles code start */
.service-section {
  background-image: url("../image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.service-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;
}
.service-left-content {
  width: 50%;
  color: rgb(190, 207, 208);
}
.service-left-content .custom-service-btn {
  background: #f0f0f0;
  color: #808080;
  border-radius: 25px;
  font-size: 16px;
  margin-bottom: 5px;
}
.service-left-content h1 {
  font-size: 40px;
  color: rgb(190, 207, 208);
  padding: 7px;
}
.service-left-content p {
  width: 75%;
  font-size: 20px;
  color: rgb(190, 207, 208);
  padding: 12px;
}
.service-left-content ol {
  padding: 22px;
}
.service-left-content ol li {
  font-size: 18px;
  margin-bottom: 10px;
}
.service-left-content .author-containar {
  display: flex;
  align-items: center;
}
.service-left-content .author-containar .author-details {
  display: flex;
  align-items: center;
  border-right: 1px solid red;
}
.service-left-content .author-containar .author-details img {
  width: 25%;
  border-radius: 50%;
}
.service-left-content .author-containar .author-details div {
  margin-left: 10px;
  color: #ffffff;
}
.service-left-content .author-containar .author-details div h4 {
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}
.service-left-content .author-containar .author-details div h6 {
  margin-left: 10px;
  font-size: 11px;
}
.service-left-content .author-containar .more-details {
  background: #f0f0f0;
  color: red;
  font-size: 14px;
  border-radius: 25px;
  margin-left: 15px;
}
.service-right-content {
}
.service-right-content .service-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.service-right-content .service-box .service {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  padding: 50px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 7px;
}

.service-right-content .service-box .service img {
  width: 100px;
}
.service-right-content .service-box .service h3 {
  margin-top: 25px;
}
/* services secton styles code end */

/* appoinment section styles code start */
.appoinment-section {
  background: rgb(245, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 75%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: -80px;
}
.appoinment-callbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-right: 1px solid gray;
}
.appoinment-callbox img {
  width: 100px;
  padding: 15px;
}
.appoinment-callbox div {
  color: #ffffff;
  margin-left: 15px;
}
.appoinment-callbox div h6 {
  font-size: 12px;
}
.appoinment-callbox div h1 {
  font-size: 32px;
}

.appoinment-descrip {
  width: 50%;
}
.appoinment-descrip p {
  text-align: justify;
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
  line-height: 22px;
  padding-right: 20px;
}

.appoinment-button .appoinment-btn {
  font-size: 14px;
  background: #ffffff;
  color: #000000;
  border-radius: 25px;
}
/* appoinment section styles code end */

/* blog section styles code start */
.blog-section .blog-title {
  font-size: 50px;
  text-align: center;
  margin-top: 45px;
}
.blog-section .blog-descipt {
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: 22px;
  margin-top: 10px;
}
.blog-box {
  padding: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.blog-box .blog {
  width: 350px;
  height: 430px;
  box-shadow: 4px 4px 8px gray;
  border-radius: 10px;
  overflow: hidden;
}
.blog-box .blog .blog-img {
  width: 350px;
  padding-bottom: 10px;
}

.blog-box .blog .blog-info {
  padding: 15px;
}
.blog-box .blog .blog-info h3 {
  font-size: 24px;
  color: #363535;
}
.blog-box .blog .blog-info p {
  font-size: 18px;
  margin-top: 15px;
  color: #4c4848;
}
/* blog section styles code end */

/* footer section styles code start */
.footer {
  background-image: url("../image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.footer-container {
  width: 75%;
  height: 60vh;
  margin: auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.5px solid #e1dede;
}
.footer-container .footer-logo-box {
  width: 25%;
}
.footer-logo-box .footer-descript {
  padding: 10px 0;
  line-height: 26px;
}
.footer-logo-box .social-icons {
  margin-top: 10px;
}
.footer-logo-box .social-icons a {
  color: #ffffff;
}
.footer-logo-box .social-icons a i {
  padding: 10px;
  font-size: 20px;
}

.footer-row-title {
  padding-bottom: 10px;
}
.foot-list {
  margin-top: 15px;
}
.copyright-title {
  text-align: center;
  color: #ffffff;
  padding: 25px 0 35px;
}

/* footer section styles code end */
